<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>futhark literate playground</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index/index.css') }}">
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
</head>

<body>
    <div id="interface">
        <div id="options">
            <button onclick="execute_code()">Compile & Run ➤</button>
            <button onclick="share_code()">Share</button>
            <select onchange="selected_backend()" id="select_backend">
                <option value="c">C Backend</option>
                <option value="opencl">OpenCL backend</option>
                <option value="cuda">CUDA backend</option>
                <option value="python">Python backend</option>
            </select>
            <select onchange="selected_version()" id="select_version">
                <option value="latest">Latest version</option>
                <option value="0.23.1">Ver. 0.23.1</option>
            </select>
        </div>
        <div id="editor">
            <div id="code">{{ snippet }}</div>
            <div id="output">
                <md-block id="literate"> {{ literate_content }}</md-block>
                <div id="compile_time"> {{ compile_time }}</div>
                
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='ace-builds-1.5.0/src/ace.js') }}" type="text/javascript"
        charset="utf-8"></script>
    <script src="{{ url_for('static', filename='index/index.js') }}"></script>

</body>

</html>