<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Futhark Playground</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index/index.css') }}">
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
</head>

<body>
    <div id="interface">
        <div id="options">
            <button onclick="execute_code()">Compile & Run ➤</button>
            <button onclick="share_code()">Share</button>
            <select onchange="selected_backend()" id="select_backend">
                <option value="c">C Backend</option>
                <option value="opencl">OpenCL backend</option>
                <option value="cuda">CUDA backend</option>
                <option value="python">Python backend</option>
            </select>
            <select onchange="selected_version()" id="select_version">
                <option value="latest">Latest version</option>
                <option value="0.23.1">Ver. 0.23.1</option>
            </select>
            <button onclick="reset_code()" id="reset_button" disabled>Reset Code</button>
        </div>
        <div id="editor">
            <div id="code">{{ snippet }}</div>
            <div id="output">
                <a id="expand_button" href="./view/{{ hash }}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><rect fill="none" height="24" width="24"/><polygon fill="white" points="21,11 21,3 13,3 16.29,6.29 6.29,16.29 3,13 3,21 11,21 7.71,17.71 17.71,7.71"/></svg>
                </a>
                <md-block id="literate"> {{ literate_content }}</md-block>
                <div id="compile_time"> {{ compile_time }}</div>
                
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='ace-builds-1.5.0/src/ace.js') }}" type="text/javascript"
        charset="utf-8"></script>
    <script src="{{ url_for('static', filename='index/index.js') }}"></script>

</body>

</html>