body {
    background-color: #fff9e5 !important;
}

#interface {
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#options {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-grow: 1;
    max-height: 46px;
    min-height: 46px;
}

button {
    border: 1px solid black;
    background-color: #5f021f;
    font-family: sans-serif;
    line-height: 1.4;
    color: white;
    transition-duration: 0.4s;
    font-weight: bold;
    max-height: 46px;
    min-height: 46px;
}

button:hover {
    background-color: white;
    color: #5f021f;
    cursor: grab;
  }

#options button {
    width: 180px;
}

#options select {
    width: 180px;
}

#options select:hover {
    background-color: white;
    color: #5f021f;
    cursor: grab;
}

select {
    border: 1px solid black;
    font-family: sans-serif;
    line-height: 1.4;
    color:white;
    background-color: #5f021f;
    text-align: center;
    font-weight: bold;
    transition-duration: 0.4s;
}

@media only screen and (max-width: 768px) {
    #editor { 
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    #editor { 
        flex-direction: row;
    }
}

#editor { 
    flex-grow: 30;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

#code {
    flex: 2;
    border-radius: 4px;
}

#output {
    flex: 1;
    color: white;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#literate {
    background-color: rgb(29, 29, 29);
    color: white;
    flex: 4;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}

#literate img {
    display: block;
    margin: 0 auto;
}

#compile_time {
    background-color: rgb(29, 29, 29);
    flex: 1;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}
