body {
    background-color: #fff9e5;
}

#interface {
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#options {
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-height: 46px;
    min-height: 46px;
}

button {
    border: 1px solid black;
    background-color: #5f021f;
    font-family: sans-serif;
    line-height: 1.4;
    color: white;
    transition-duration: 0.4s;
    font-weight: bold;
    max-height: 46px;
    min-height: 46px;
}

button:hover {
    background-color: white;
    color: #5f021f;
    cursor: grab;
  }

#options button {
    width: 160px;
}

#options select {
    width: 160px;
}


@media only screen and (max-width: 768px) {
    #options button { 
        flex-grow: 1;
    }
    #options select { 
        flex-grow: 1;
        width: 80px;
    }
}

@media only screen and (max-width: 358px) {
    #options { 
        flex-direction: column;
        margin-bottom: 160px;
    }

    #options button { 
        width: auto;
        height: 46px;
    }
    #options select { 
        width: auto;
        height: 46px;
    }

}

button:disabled {
    background-color: #5f021fad;
}
button:hover:disabled {
    cursor: default;
    color: white;
}

#options select:hover {
    background-color: white;
    color: #5f021f;
    cursor: grab;
}

select {
    border: 1px solid black;
    font-family: sans-serif;
    line-height: 1.4;
    color:white;
    background-color: #5f021f;
    text-align: center;
    font-weight: bold;
    transition-duration: 0.4s;
}

@media only screen and (min-width: 768px) {
    #editor { 
        flex-direction: row;
    }
}

#editor { 
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

#code {
    width: 50%;
    height: 90vh;
    border-radius: 4px;
    resize: horizontal;
    overflow-y: scroll;
}

#output {
    position: relative;
    flex: 1;
    height: 90vh;
    color: white;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
    #editor { 
        flex-direction: column;
    }

    #code {
        width: 100%;
        resize: none;
    }
}

#literate {
    background-color: rgb(29, 29, 29);
    color: white;
    flex: 4;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}

#literate img {
    display: block;
    margin: 0 auto;
}

#compile_time {
    background-color: rgb(29, 29, 29);
    flex: 1;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}

#expand_button {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 25px;
    width: 25px;
    color: white;
}


/* BASED ON: https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 1px;
    margin-right: 1px;
    font-weight: normal;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext.lefttooltip {
    top: -5px;
    right: 105%;
  }